<button class="action-button" (click)="onClick()">
  <svg class="icon svg-hover-effect" [ngClass]="{'enabled': buttonEnabled }" viewBox="0 0 512 384" version="1.1" xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/"
    style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
    <g transform="matrix(1,0,0,1,0,-64.0001)">
      <path
        d="M388.688,164.687C385.687,167.688 384,171.75 384,175.999L384,304.408C370.587,294.256 354.077,288 336,288C291.89,288 255.999,323.89 255.999,368C255.999,412.11 291.89,448 336,448C380.11,448 416,412.11 416,368L416,192L512,192L512,160.016L400,160C395.75,160 391.687,161.688 388.688,164.687ZM336,416C309.531,416 288,394.468 288,368C288,341.531 309.531,320 336,320C362.468,320 384,341.531 384,368C384,394.469 362.469,416 336,416Z"
        style="fill-rule:nonzero;" />
      <rect x="0" y="64" width="512" height="32" style="fill-rule:nonzero;" />
      <rect x="0" y="160" width="320" height="32" style="fill-rule:nonzero;" />
      <g id="path-1_5_" transform="matrix(1,0,0,1,0,8.19202)">
        <rect x="0" y="255.999" width="224" height="32" style="fill-rule:nonzero;" />
      </g>
      <g id="path-1_4_" transform="matrix(1,0,0,1,0,11.264)">
        <rect x="0" y="352" width="224" height="32" style="fill-rule:nonzero;" />
      </g>
    </g>
  </svg>
</button>