<div class="title">Settings</div>

<div class="config-volume">
  <label>Audio Volume:</label>
  <app-volume [value]="config.audioVolume" (valueChange)="onAudioVolumeChange($event)"></app-volume>
</div>

<div class="config-item">
  <app-checkbox label="Autoplay On File Load" [value]="config?.autoplayOnFileLoad"
    (valueChange)="onChangeAutoplayOnFileLoad($event)">
  </app-checkbox>
</div>

<div class="config-item">
  <app-checkbox label="Restore Playlist On Startup" [value]="config?.restorePlaylistOnStartup"
    (valueChange)="onChangeRestorePlaylistOnStartup($event)"></app-checkbox>
</div>