<div class="title">Radio Stations</div>

<div class="radio-station" *ngFor="let radioStation of radioStations" (click)="onClickRadioStation(radioStation)">
  <div class="name">{{radioStation.name}}</div>
  <div class="genre">{{radioStation.genre}}</div>
  <div class="language">{{radioStation.language}}</div>
  <div class="country">{{radioStation.country}}</div>
</div>