@import '../../../styles/variables';
@import '../../../styles/mixins';

:host {
  .title {
    @include action-panel-label;
  }

  .radio-station {
    &:hover {
      color: $color_orange;
    }

    cursor: pointer;
    margin-bottom: 10px;

    .name {
      font-size: $font_size_16px;
      font-weight: 800;
    }
  }
}