<div class="container" (click)="onClick()">
  <div class="box">
    <svg class="check-mark" width="100%" height="100%" viewBox="0 0 24 19" version="1.1"
      xmlns="http://www.w3.org/2000/svg" xml:space="preserve">
      <g transform="matrix(1,0,0,1,-4.44089e-16,-2)">
        <path d="M20.285,2L9,13.567L3.714,8.556L0,12.272L9,21L24,5.715L20.285,2Z" style="fill-rule:nonzero;" />
      </g>
    </svg>
  </div>
  <div class="label">{{label}}</div>
</div>