@import '../../../styles/variables';

:host {
  &.checked .check-mark {
    visibility: unset;
  }

  .check-mark {
    visibility: hidden;
    width     : 100%;
    width     : 100%;
  }

  .container {
    display: flex;
    cursor : pointer;

    &:hover {
      color: $color_orange;

      .box {
        border: 1px $color_orange solid;
      }
    }

    .box {
      height          : 13px;
      width           : 13px;
      padding         : 2px;
      background-color: $color_white;
      border          : 1px $color_white solid;
    }

    .label {
      margin-left: 8px;
    }
  }
}