<table class="playlist" cellspacing="0" cellpadding="0">
  <tr [ngClass]="{selected : index === (playlist$ | async)?.selectedSong}" (click)="clickSong.emit(index)"
    *ngFor="let song of (playlist$ | async)?.songs; let index = index">
    <td class="column index">{{index + 1}}</td>
    <td class="column title">{{song.songMeta.title || song.fileMeta?.name}}</td>
    <td *ngIf="song.songMeta.artist" class="column artist">{{song.songMeta.artist}}</td>
    <td *ngIf="song.songMeta.album" class="column album">{{song.songMeta.album}}</td>
    <td class="column duration">{{song.songMeta?.duration | duration}}</td>
  </tr>
</table>