@import '../../../styles/variables';

:host {
  table {
    display         : flex;
    width           : 100%;
    background-color: $background-color;
    border          : none;
    flex-direction  : column;

    tr {
      display: flex;
      cursor : pointer;

      &:hover {
        color: $color_orange;
      }

      &.selected {
        background-color: #aaa;

        &>td {
          font-weight     : 600;
          color           : #222;
          background-color: $color_primary;
        }
      }

      td {
        display : flex;
        padding : 10px;
        overflow: hidden;

        &.index {
          justify-content: flex-end;
          width          : 2em;
          padding-right  : 10px;
        }

        &.title {
          justify-content: flex-start;
          flex           : 3;
        }

        &.artist {
          justify-content: flex-start;
          flex           : 2 1 0;
        }

        &.album {
          justify-content: flex-start;
          flex           : 2 1 0;
        }

        &.duration {
          justify-content: flex-end;
          width          : 3em;
          white-space    : nowrap;
        }
      }
    }
  }
}