<button class="action-button" (click)="onClick()">
  <svg class="icon svg-hover-effect" viewBox="0 0 165 158" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;">
    <g transform="matrix(1,0,0,1,-104.667,-96.6667)">
        <g transform="matrix(1.32143,0,0,0.919643,-164.5,23.1518)">
            <path d="M266,89L322,201L210,201L266,89Z" style="stroke-width:14.64px;"/>
        </g>
        <g transform="matrix(0.778947,0,0,1,-93.4211,-23)">
            <path d="M265,269L455,269" style="stroke-width:18.59px;"/>
        </g>
    </g>
</svg>
</button>
<input #fileInput id="file-input" type="file" (change)="onFileInputChange($event)" multiple="true"
  accept="audio/*,video/*" />