@import '../../../styles/variables';

:host {
  position       : fixed;
  display        : flex;
  align-items    : center;
  justify-content: center;
  flex-direction : column;
  right          : 0;
  left           : 0;
  bottom         : 0;
  font-size      : $font_size_16px;
  margin         : 0 auto 0.5em auto;
  z-index        : 999;

  .container {
    width     : 100%;
    max-width : 40rem;
    padding   : 0.5rem;
    margin-top: 1em;
    border    : 1px solid $color_orange;
    box-shadow: 0px 0px 10px $color_orange;
    background: $color_background_secondary;
  }
}