<div class="wrapper" (click)="onMouseClick($event)">
    <svg viewBox="0 0 100 100" preserveAspectRatio="none" #svg>
      <line x1="0" x2="100" y1="0" y2="0" stroke-width="50" stroke="#888" />
      <line x1="0" x2="0" y1="0" y2="0" stroke-width="50" stroke="currentColor" #progressbar />
    </svg>
</div>