<app-action-tab [panelOpen]="configPanelOpen">
  <app-config-panel [config]="config" (changeConfig)="changeConfig.emit($event)"></app-config-panel>
</app-action-tab>

<app-action-tab [panelOpen]="radioPanelOpen">
  <app-radio-panel [radioStations]="radio?.radioStations" (clickRadioStation)="clickRadioStation.emit($event)">
  </app-radio-panel>
</app-action-tab>

<app-action-tab [panelOpen]="libraryPanelOpen">
  <app-library-panel [library]="library" (storeActivePlaylist)="storeActivePlaylist.emit()"
    (updateStoredPlaylist)="updateStoredPlaylist.emit($event)" (play)="onPlayPlaylist($event)"
    (delete)="deleteLibraryPlaylist.emit($event)">
  </app-library-panel>
</app-action-tab>

<div class="action-buttons">
  <app-load-button (loadFiles)=clickLoadFiles.emit($event)></app-load-button>
  <app-library-button *ngIf="libraryEnabled" [buttonEnabled]="libraryPanelOpen" (clickLibrary)="onClickLibrary()">
  </app-library-button>
  <app-radio-button *ngIf="radioEnabled" [buttonEnabled]="radioPanelOpen" (clickRadio)="onClickRadio()">
  </app-radio-button>
  <app-config-button [buttonEnabled]="configPanelOpen" (clickConfig)="onClickConfig()">
  </app-config-button>
</div>