@import '../../../styles/variables';

:host {
  .action-buttons {
    position      : absolute;
    display       : flex;
    flex-direction: column;
    height        : 100%;
    box-sizing    : border-box;
    padding       : 10px 6px 10px 6px;
    background-color: $color_background_secondary;

    // TODO tidy up this
    app-radio-button,
    app-library-button {
      margin-top: 10px;
    }

    app-config-button {
      margin-top: auto;
    }
  }
}