@import '../../../styles/variables';

:host {
  font-size: $font_size_22px;
  white-space: nowrap;
  align-self: flex-end;
  flex: 1;
  text-align: right;

  .container:hover {
    cursor: pointer;
    color : $color_orange;
  }
}