@import './variables';

@mixin slide_in_out_transition {
  transition: width 0.3s ease;
}

@mixin action-panel-label {
  font-size     : 16px;
  text-transform: uppercase;
  text-align    : center;
  font-weight   : 600;
  margin-bottom : 15px;
  padding       : 3px;

  border-top   : 2px $color_white solid;
  border-bottom: 2px $color_white solid;
}