// fore FE3C4F back 2A2C39

$background-color          : #2A2C39;
$color_background_secondary: #1c1c1c;
$color_secondary           : #bbb;
$color_white               : #ccc;
$color_primary             : #ccc;
$color_orange              : #F93;
$color-red                 : #c21807;

$padding_default: 10px;

$action-button-size: 32px;

// font sizes
$font_size_10px: 0.625rem;
$font_size_12px: 0.75rem;
$font_size_13px: 0.8125rem;
$font_size_14px: 0.875rem;
$font_size_15px: 0.9375rem;
$font_size_16px: 1rem;
$font_size_17px: 1.0625rem;
$font_size_18px: 1.125rem;
$font_size_19px: 1.1875rem;
$font_size_20px: 1.25rem;
$font_size_21px: 1.3125rem;
$font_size_22px: 1.375rem;
$font_size_28px: 1.75rem;
$font_size_40px: 2.5rem;