@import '../../../styles/mixins';
@import '../../../styles/variables';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  .title {
    @include action-panel-label;
  }

  .body {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 20px 0 0 0;
    overflow: hidden;
  }

  .playlists {
    overflow-y: auto;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .playlist-actions {
    display      : flex;
    width        : 100%;
    margin-bottom: 20px;

    .save-button,
    .edit-button,
    .delete-button {
      flex: 1;
      cursor: pointer;
    }
  }

  .playlist {
    display      : flex;
    margin-bottom: 6px;

    &:hover {
      .icon {
        fill  : $color_orange !important;
        stroke: $color_orange !important;
      }

      input {
        color: $color_orange !important;
      }
    }

    .icon,
    .action-button {
      padding: 0;
      width  : 15px;
      height : 15px;
      fill   : $color_white !important;
      stroke : $color_white !important;
    }

    .play-and-name {
      display    : flex;
      align-items: center;

      input {
        font-size  : $font_size_16px;
        margin-left: 6px;
        background : none;
        border     : none;
        color      : $color_white;
        outline    : none;
        cursor     : pointer;
        width      : 100%;
        margin-left: 10px;
      }
    }

    .actions {
      display    : flex;
      align-items: center;
      margin-left: auto;

      .action-button {
        margin-left: 4px;
        padding    : 0;
      }

      .icon:hover {
        fill  : $color_orange !important;
        stroke: $color_orange !important;
      }
    }
  }

  .footer {
    margin: 6px 0 10px 0;

    .confirm-delete {
      width: 100%;
      height: 2em;
      border: none;
      background-color: $color-red;
      color: $color_white;
      outline: none;
      cursor: pointer;
      font-size: $font_size_16px;

      &:hover {
        font-weight: 600;
      }
    }
  }
}