<div class="title">Playlists</div>

<div class="body">
  <div class="playlist-actions">
    <button class="save-button" (click)="onClickSave()">Save</button>
    <button class="edit-button" (click)="onClickEdit()">Edit</button>
    <button class="delete-button" (click)="onToggleDeleteMode()">Delete</button>
  </div>

  <div class="playlists">
    <div class="playlist" *ngFor="let playlist of library?.playlists; let index = index">
      <div class="play-and-name" (click)="onClickPlaylist(playlist, $event)">
        <button class="action-button" *ngIf="!deleteMode && !editMode">
          <svg class="icon svg-hover-effect" viewBox="0 0 427 427" version="1.1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/"
            style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
            <g>
              <g>
                <g>
                  <path d="M170.667,309.333L298.667,213.333L170.667,117.333L170.667,309.333Z"
                    style="fill-rule:nonzero;" />
                  <path
                    d="M213.333,0C95.467,0 0,95.467 0,213.333C0,331.199 95.467,426.666 213.333,426.666C331.199,426.666 426.667,331.2 426.667,213.333C426.667,95.466 331.2,0 213.333,0ZM213.333,384C119.253,384 42.666,307.413 42.666,213.333C42.666,119.253 119.253,42.667 213.333,42.667C307.413,42.667 384,119.253 384,213.333C384,307.413 307.413,384 213.333,384Z"
                    style="fill-rule:nonzero;" />
                </g>
              </g>
            </g>
          </svg>
        </button>

        <button class="action-button" *ngIf="deleteMode && isMarked(playlist)">
          <svg class="icon" viewBox="0 0 512 512" version="1.1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/"
            style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
            <path
              d="M452,512L60,512C26.914,512 0,485.086 0,452L0,60C0,26.914 26.914,0 60,0L452,0C485.086,0 512,26.914 512,60L512,452C512,485.086 485.086,512 452,512ZM60,40C48.973,40 40,48.973 40,60L40,452C40,463.027 48.973,472 60,472L452,472C463.027,472 472,463.027 472,452L472,60C472,48.973 463.027,40 452,40L60,40ZM430.898,151.344L401.098,124.656L216.133,331.223L108.781,229.176L81.223,258.164L218.441,388.609L430.898,151.344Z"
              style="fill-rule:nonzero;" />
          </svg>
        </button>

        <button class="action-button" *ngIf="editMode">
          <svg class="icon" viewBox="0 0 402 399" version="1.1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/"
            style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
            <g transform="matrix(1,0,0,1,-2.83847e-14,-1.52021)">
              <path
                d="M370.107,251.906C364.591,251.906 360.12,256.376 360.12,261.893L360.12,350.566C360.101,367.107 346.7,380.511 330.159,380.527L49.935,380.527C33.394,380.511 19.993,367.107 19.974,350.566L19.974,90.316C19.993,73.779 33.394,60.374 49.935,60.355L138.608,60.355C144.125,60.355 148.595,55.884 148.595,50.368C148.595,44.855 144.125,40.381 138.608,40.381L49.935,40.381C22.369,40.412 0.031,62.75 0,90.316L0,350.57C0.031,378.136 22.369,400.474 49.935,400.505L330.159,400.505C357.725,400.474 380.063,378.136 380.094,350.57L380.094,261.893C380.094,256.376 375.623,251.906 370.107,251.906Z"
                style="fill-rule:nonzero;" />
              <path
                d="M376.138,14.684C358.587,-2.868 330.132,-2.868 312.581,14.684L134.407,192.858C133.186,194.079 132.304,195.592 131.844,197.254L108.413,281.843C107.45,285.311 108.429,289.025 110.972,291.573C113.52,294.116 117.234,295.095 120.702,294.136L205.291,270.701C206.953,270.241 208.466,269.359 209.688,268.138L387.858,89.961C405.382,72.398 405.382,43.966 387.858,26.403L376.138,14.684ZM156.167,199.349L301.989,53.524L349.018,100.552L203.192,246.378L156.167,199.349ZM146.773,218.2L184.346,255.776L132.374,270.175L146.773,218.2ZM373.735,75.838L363.144,86.43L316.111,39.398L326.707,28.806C336.456,19.057 352.263,19.057 362.012,28.806L373.735,40.525C383.469,50.286 383.469,66.082 373.735,75.838Z"
                style="fill-rule:nonzero;" />
            </g>
          </svg>
        </button>

        <input type="text" value="{{playlist.name}}" readonly="readonly" (blur)="onBlurNameField($event, playlist)"
          (keyup)="onKeyUp($event)" #name_field>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <button *ngIf="deleteMode" class="confirm-delete" (click)="onClickDelete()">Delete Selected</button>
</div>