<button class="action-button" (click)="onClick()">
  <svg class="icon svg-hover-effect" [ngClass]="{'enabled': buttonEnabled }" viewBox="0 0 512 491" version="1.1" xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/"
    style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
    <g transform="matrix(1,0,0,1,0,-10.667)">
      <g>
        <path
          d="M490.667,405.333L433.856,405.333C424.619,374.592 396.373,352 362.667,352C328.961,352 300.736,374.592 291.478,405.333L21.333,405.333C9.557,405.333 0,414.891 0,426.667C0,438.443 9.557,448 21.333,448L291.477,448C300.714,478.741 328.96,501.333 362.666,501.333C396.372,501.333 424.597,478.741 433.855,448L490.666,448C502.463,448 511.999,438.443 511.999,426.667C511.999,414.891 502.464,405.333 490.667,405.333ZM362.667,458.667C345.024,458.667 330.667,444.31 330.667,426.667C330.667,409.024 345.024,394.667 362.667,394.667C380.31,394.667 394.667,409.024 394.667,426.667C394.667,444.31 380.309,458.667 362.667,458.667Z"
          style="fill-rule:nonzero;" />
      </g>
      <g>
        <path
          d="M490.667,64L433.856,64C424.597,33.259 396.373,10.667 362.667,10.667C328.961,10.667 300.736,33.259 291.477,64L21.333,64C9.557,64 0,73.557 0,85.333C0,97.109 9.557,106.666 21.333,106.666L291.477,106.666C300.736,137.408 328.96,160 362.667,160C396.374,160 424.598,137.408 433.856,106.667L490.667,106.667C502.464,106.667 512,97.11 512,85.334C512,73.558 502.464,64 490.667,64ZM362.667,117.333C345.024,117.333 330.667,102.976 330.667,85.333C330.667,67.69 345.024,53.333 362.667,53.333C380.31,53.333 394.667,67.69 394.667,85.333C394.667,102.976 380.309,117.333 362.667,117.333Z"
          style="fill-rule:nonzero;" />
      </g>
      <g>
        <path
          d="M490.667,234.667L220.523,234.667C211.264,203.926 183.04,181.334 149.334,181.334C115.628,181.334 87.403,203.926 78.145,234.667L21.333,234.667C9.557,234.667 0,244.224 0,256C0,267.776 9.557,277.333 21.333,277.333L78.144,277.333C87.403,308.074 115.627,330.666 149.333,330.666C183.039,330.666 211.264,308.074 220.522,277.333L490.666,277.333C502.463,277.333 511.999,267.776 511.999,256C512,244.224 502.464,234.667 490.667,234.667ZM149.333,288C131.69,288 117.333,273.643 117.333,256C117.333,238.357 131.69,224 149.333,224C166.976,224 181.333,238.357 181.333,256C181.333,273.643 166.976,288 149.333,288Z"
          style="fill-rule:nonzero;" />
      </g>
    </g>
  </svg>
</button>