<button class="action-button" (click)="clickPrevious.emit()">
  <svg class="icon svg-hover-effect" viewBox="0 0 226 168" version="1.1" xmlns="http://www.w3.org/2000/svg">
    <g transform="matrix(1,0,0,1,-533,-290)">
      <g transform="matrix(-1,-1.22465e-16,1.22465e-16,-1,1036,748)">
        <g transform="matrix(8.09142e-17,1.32143,-0.919643,5.63119e-17,471.848,22.5)">
          <path d="M266,89L322,201L210,201L266,89Z" style="stroke-width:17.57px;" />
        </g>
        <g transform="matrix(8.09142e-17,1.09821,-0.919643,4.67997e-17,574.848,81.875)">
          <path d="M266,89L322,201L210,201L266,89Z" style="stroke-width:19.75px;" />
        </g>
      </g>
    </g>
  </svg>
</button>

<button *ngIf="shouldShowPlay()" class="action-button" (click)="clickPlay.emit()">
  <svg class="icon svg-hover-effect" viewBox="0 0 142 168" version="1.1" xmlns="http://www.w3.org/2000/svg">
    <g transform="matrix(1,0,0,1,-226,-20)">
      <g transform="matrix(8.09142e-17,1.32143,-1.08929,6.66995e-17,454.946,-247.5)">
        <path class="colored" d="M266,89L322,201L210,201L266,89Z" style="stroke-width:16.52px;" />
      </g>
    </g>
  </svg>
</button>

<button *ngIf="shouldShowPause()" class="action-button" (click)="clickPause.emit()">
  <svg class="icon svg-hover-effect" viewBox="0 0 138 198" version="1.1" xmlns="http://www.w3.org/2000/svg">
    <g transform="matrix(1,0,0,1,-386,-117)">
      <g transform="matrix(4.76968e-17,-0.778947,1,6.12323e-17,142,496.421)">
        <path d="M265,269L455,269" style="stroke-width:55.78px;" />
      </g>
      <g transform="matrix(4.76968e-17,-0.778947,1,6.12323e-17,230,496.421)">
        <path d="M265,269L455,269" style="stroke-width:55.78px;" />
      </g>
    </g>
  </svg>
</button>

<button class="action-button" (click)="clickNext.emit()">
  <svg class="icon svg-hover-effect" viewBox="0 0 226 168" version="1.1" xmlns="http://www.w3.org/2000/svg">
    <g transform="matrix(1,0,0,1,-172,-290)">
      <g transform="matrix(1,0,0,1,-105,0)">
        <g transform="matrix(8.09142e-17,1.32143,-0.919643,5.63119e-17,471.848,22.5)">
          <path d="M266,89L322,201L210,201L266,89Z" style="stroke-width:17.57px;" />
        </g>
        <g transform="matrix(8.09142e-17,1.09821,-0.919643,4.67997e-17,574.848,81.875)">
          <path d="M266,89L322,201L210,201L266,89Z" style="stroke-width:19.75px;" />
        </g>
      </g>
    </g>
  </svg>
</button>