<button class="action-button" (click)="onClick()">
  <svg class="icon svg-hover-effect" [ngClass]="{'enabled': buttonEnabled }" viewBox="0 0 497 513" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
    <g transform="matrix(1,0,0,1,-7.65,-1.16573e-14)">
        <g>
            <path d="M256.058,114.184C219.222,114.184 189.249,144.157 189.249,180.993C189.249,217.829 219.222,247.802 256.058,247.802C292.9,247.802 322.867,217.829 322.867,180.993C322.867,144.157 292.9,114.184 256.058,114.184ZM256.058,211.361C239.313,211.361 225.69,197.738 225.69,180.993C225.69,164.248 239.313,150.625 256.058,150.625C272.803,150.625 286.426,164.248 286.426,180.993C286.426,197.738 272.802,211.361 256.058,211.361Z" style="fill-rule:nonzero;"/>
        </g>
        <g>
            <path d="M172.978,97.913C180.096,90.801 180.096,79.261 172.978,72.149C165.866,65.031 154.326,65.031 147.214,72.149C87.365,131.998 87.365,229.381 147.214,289.23C150.767,292.789 155.432,294.569 160.096,294.569C164.761,294.569 169.425,292.789 172.978,289.23C180.096,282.118 180.096,270.578 172.978,263.466C127.335,217.823 127.335,143.556 172.978,97.913Z" style="fill-rule:nonzero;"/>
        </g>
        <g>
            <path d="M364.902,72.149C357.784,65.031 346.256,65.031 339.138,72.149C332.02,79.261 332.02,90.801 339.138,97.913C384.781,143.556 384.781,217.823 339.138,263.466C332.02,270.578 332.02,282.118 339.138,289.23C342.697,292.789 347.355,294.569 352.02,294.569C356.685,294.569 361.343,292.789 364.902,289.23C424.75,229.381 424.75,131.998 364.902,72.149Z" style="fill-rule:nonzero;"/>
        </g>
        <g>
            <path d="M44.091,180.993C44.091,124.369 66.138,71.135 106.175,31.104C113.287,23.986 113.293,12.446 106.175,5.334C99.057,-1.778 87.517,-1.778 80.405,5.334C33.487,52.252 7.65,114.634 7.65,180.993C7.65,247.352 33.487,309.728 80.405,356.646C83.958,360.205 88.623,361.985 93.287,361.985C97.951,361.985 102.616,360.205 106.169,356.646C113.287,349.528 113.287,337.994 106.169,330.882C66.138,290.845 44.091,237.617 44.091,180.993Z" style="fill-rule:nonzero;"/>
        </g>
        <g>
            <path d="M431.711,5.346C424.593,-1.772 413.065,-1.772 405.947,5.346C398.829,12.458 398.829,23.998 405.947,31.11C488.59,113.753 488.59,248.233 405.947,330.882C398.829,337.994 398.829,349.534 405.947,356.646C409.506,360.205 414.165,361.985 418.829,361.985C423.493,361.985 428.152,360.205 431.711,356.652C528.566,259.797 528.566,102.201 431.711,5.346Z" style="fill-rule:nonzero;"/>
        </g>
        <g>
            <path d="M396.296,487.064L290.616,220.435C286.899,211.082 276.307,206.502 266.96,210.207C257.607,213.918 253.027,224.504 256.732,233.863L338.257,439.544L203.941,337.181C195.936,331.071 184.506,332.626 178.408,340.625C172.304,348.624 173.847,360.06 181.852,366.158L368.31,508.273C371.572,510.757 375.459,512.002 379.352,512.002C383.227,512.002 387.108,510.769 390.357,508.297C396.885,503.359 399.308,494.674 396.296,487.064Z" style="fill-rule:nonzero;"/>
        </g>
        <g>
            <path d="M336.216,340.709C330.161,332.668 318.73,331.058 310.701,337.101L173.573,440.273L255.39,233.87C259.095,224.511 254.515,213.924 245.162,210.214C235.803,206.515 225.216,211.089 221.506,220.442L115.826,487.07C112.82,494.656 115.225,503.323 121.717,508.273C124.979,510.757 128.872,512.002 132.765,512.002C136.622,512.002 140.478,510.781 143.722,508.34L332.609,366.225C340.65,360.175 342.266,348.751 336.216,340.709Z" style="fill-rule:nonzero;"/>
        </g>
    </g>
</svg>
</button>