@import "../styles/variables";

:host {
  .container {
    display: flex;
    height : 100%;
    width  : 100%;
  }

  .action-panel {
    width: 48px;
  }

  .body-container {
    width         : 100%;
    height        : 100%;
    display       : flex;
    flex-direction: column;
    overflow      : hidden;
  }

  .playing-now-timer {
    display: flex;
    padding: 10px;
    height : 45px;

    app-timer {
      margin-left: 20px;
    }
  }

  .controls {
    display        : flex;
    justify-content: center;
    align-items    : center;

    app-shuffle-button {
      margin-right: 30px;
    }

    app-repeat-button {
      margin-left: 30px;
    }
  }

  .body {
    overflow-y   : auto;
    padding-top: 30px;
    flex: 1;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .footer {
    padding: 10px;
  }
}