<div class="container">
  <div class="action-panel">
    <app-action-panel [config]="config$ | async" (changeConfig)="onChangeConfig($event)" [radioEnabled]="radioEnabled"
      [radio]="(radio$ | async)" (clickRadioStation)="onClickRadioStation($event)" [libraryEnabled]="libraryEnabled"
      [library]="library$ | async" (storeActivePlaylist)="onStoreActivePlaylist()"
      (updateStoredPlaylist)="onUpdateStoredPlaylist($event)" (play)="onPlayLibraryPlaylist($event)"
      (deleteLibraryPlaylist)="onDeleteLibraryPlaylist($event)" (clickLoadFiles)="onLoadFiles($event)">
    </app-action-panel>
  </div>

  <div class="body-container">
    <div class="header">
      <div class="playing-now-timer">
        <app-playing-now [playlist$]="playlist$"></app-playing-now>
        <app-timer [timer$]="timer$" [song]="getCurrentSong(playlist$ | async)"
          [modeIsElapsedTime]="(config$ | async).timerModeIsElapsedTime" (changeMode)="onChangeTimerMode($event)">
        </app-timer>
      </div>

      <app-slider [timer$]="timer$" [song]="getCurrentSong(playlist$ | async)" (navigate)="onSliderNavigate($event)">
      </app-slider>

      <app-spectrum-animator [playerStatus$]="playerStatus$"></app-spectrum-animator>

      <div class="controls">
        <app-shuffle-button [isEnabled]="(playlist$ | async)?.shuffle" (toggle)="onToggleShuffle()">
        </app-shuffle-button>
        <app-player [playerStatus]="playerStatus$ | async" (clickPrevious)="onClickPrevious()"
          (clickNext)="onClickNext()" (clickPause)="onClickPause()" (clickPlay)="onClickPlay()">
        </app-player>
        <app-repeat-button [repeatMode]="(playlist$ | async)?.repeat" (toggle)="onToggleRepeat()"></app-repeat-button>
      </div>
    </div>

    <div class="body">
      <app-playlist *ngIf="!(progress$ | async)" [playlist$]="playlist$" (clickSong)="onClickSong($event)"></app-playlist>
      <app-progress *ngIf="progress$ | async"></app-progress>
    </div>

    <div class="footer">
      <app-status [playlist]="playlist$ | async"></app-status>
    </div>
  </div>
</div>

<app-notification></app-notification>