@import '../../../styles/mixins';

$action-panel-width: 330px;

:host {
  position        : absolute;
  left            : 0;
  top             : 0;
  height          : 100%;
  width           : 0px;
  background-color: #222;
  overflow        : hidden;
  box-sizing      : border-box;
  opacity         : 0.9;
  @include slide_in_out_transition;

  &.panel-open {
    width: $action-panel-width;
    @include slide_in_out_transition;
  }

  .container {
    box-sizing : border-box;
    width      : #{$action-panel-width - 50};
    height     : 100%;
    margin-left: 48px;
    padding    : 10px 10px 4px 10px;
    overflow   : hidden;
  }
}