<button class="action-button" (click)="onClick()">
  <svg class="icon svg-hover-effect" *ngIf="shouldShowRepeatPlaylistIcon()" [ngClass]="{'enabled': repeatPlaylistEnabled() }" viewBox="0 0 388 352" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
    <g transform="matrix(1,0,0,1,-876.333,-689.985)">
        <g transform="matrix(16.0417,0,0,16.0417,1583,52.125)">
            <g transform="matrix(0.0591409,0,0,0.0623377,-66.8468,-31.0739)">
                <path d="M743.311,1203L703.031,1164.79C696.175,1158.28 696.175,1147.72 703.031,1141.21C709.887,1134.71 721.019,1134.71 727.875,1141.21L793,1203L727.875,1264.79C721.019,1271.29 709.887,1271.29 703.031,1264.79C696.175,1258.28 696.175,1247.72 703.031,1241.21L743.311,1203Z"/>
            </g>
        </g>
        <g transform="matrix(16.0417,0,0,16.0417,1583,52.125)">
            <g transform="matrix(0.0591409,0,0,0.0623377,-66.8468,-31.0739)">
                <path d="M420.568,1219.67L420.568,1293C420.568,1302.2 412.696,1309.67 403,1309.67C393.304,1309.67 385.432,1302.2 385.432,1293C385.432,1293 385.432,1242.38 385.432,1217.07C385.432,1199.86 399.857,1186.33 417.07,1186.33C474.785,1186.33 693.83,1186.33 768.156,1186.33C777.852,1186.33 785.723,1193.8 785.723,1203C785.723,1212.2 777.852,1219.67 768.156,1219.67L420.568,1219.67Z"/>
            </g>
        </g>
        <g transform="matrix(16.0417,0,0,16.0417,1583,52.125)">
            <g transform="matrix(-0.0591409,-7.24267e-18,7.63416e-18,-0.0623377,2.88831,132.501)">
                <path d="M743.311,1203L703.031,1164.79C696.175,1158.28 696.175,1147.72 703.031,1141.21C709.887,1134.71 721.019,1134.71 727.875,1141.21L793,1203L727.875,1264.79C721.019,1271.29 709.887,1271.29 703.031,1264.79C696.175,1258.28 696.175,1247.72 703.031,1241.21L743.311,1203Z"/>
            </g>
        </g>
        <g transform="matrix(16.0417,0,0,16.0417,1583,52.125)">
            <g transform="matrix(-0.0591409,-7.24267e-18,7.63416e-18,-0.0623377,2.88831,132.501)">
                <path d="M420.568,1219.67L420.568,1293C420.568,1302.2 412.696,1309.67 403,1309.67C393.304,1309.67 385.432,1302.2 385.432,1293C385.432,1293 385.432,1242.38 385.432,1217.07C385.432,1199.86 399.857,1186.33 417.07,1186.33C474.785,1186.33 693.83,1186.33 768.156,1186.33C777.852,1186.33 785.723,1193.8 785.723,1203C785.723,1212.2 777.852,1219.67 768.156,1219.67L420.568,1219.67Z"/>
            </g>
        </g>
    </g>
</svg>

  <svg class="icon enabled" *ngIf="shouldShowRepeatSongIcon()" viewBox="0 0 388 352" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
    <g transform="matrix(1,0,0,1,-876.333,-689.985)">
        <g transform="matrix(16.0417,0,0,16.0417,1583,52.125)">
            <g transform="matrix(0.0591409,0,0,0.0623377,-66.8468,-31.0739)">
                <path d="M743.311,1203L703.031,1164.79C696.175,1158.28 696.175,1147.72 703.031,1141.21C709.887,1134.71 721.019,1134.71 727.875,1141.21L793,1203L727.875,1264.79C721.019,1271.29 709.887,1271.29 703.031,1264.79C696.175,1258.28 696.175,1247.72 703.031,1241.21L743.311,1203Z"/>
            </g>
        </g>
        <g transform="matrix(16.0417,0,0,16.0417,1583,52.125)">
            <g transform="matrix(0.0591409,0,0,0.0623377,-66.8468,-31.0739)">
                <path d="M420.568,1219.67L420.568,1293C420.568,1302.2 412.696,1309.67 403,1309.67C393.304,1309.67 385.432,1302.2 385.432,1293C385.432,1293 385.432,1242.38 385.432,1217.07C385.432,1199.86 399.857,1186.33 417.07,1186.33C474.785,1186.33 693.83,1186.33 768.156,1186.33C777.852,1186.33 785.723,1193.8 785.723,1203C785.723,1212.2 777.852,1219.67 768.156,1219.67L420.568,1219.67Z"/>
            </g>
        </g>
        <g transform="matrix(16.0417,0,0,16.0417,1583,52.125)">
            <g transform="matrix(-0.0591409,-7.24267e-18,7.63416e-18,-0.0623377,2.88831,132.501)">
                <path d="M743.311,1203L703.031,1164.79C696.175,1158.28 696.175,1147.72 703.031,1141.21C709.887,1134.71 721.019,1134.71 727.875,1141.21L793,1203L727.875,1264.79C721.019,1271.29 709.887,1271.29 703.031,1264.79C696.175,1258.28 696.175,1247.72 703.031,1241.21L743.311,1203Z"/>
            </g>
        </g>
        <g transform="matrix(16.0417,0,0,16.0417,1583,52.125)">
            <g transform="matrix(-0.0591409,-7.24267e-18,7.63416e-18,-0.0623377,2.88831,132.501)">
                <path d="M420.568,1219.67L420.568,1293C420.568,1302.2 412.696,1309.67 403,1309.67C393.304,1309.67 385.432,1302.2 385.432,1293C385.432,1293 385.432,1242.38 385.432,1217.07C385.432,1199.86 399.857,1186.33 417.07,1186.33C474.785,1186.33 693.83,1186.33 768.156,1186.33C777.852,1186.33 785.723,1193.8 785.723,1203C785.723,1212.2 777.852,1219.67 768.156,1219.67L420.568,1219.67Z"/>
            </g>
        </g>
        <g transform="matrix(16.0417,0,0,16.0417,1583,52.125)">
            <g transform="matrix(0.0623377,0,0,0.0623377,-98.8594,-21.4115)">
                <text x="1034.06px" y="1206.75px" style="font-family:'Arial-BoldMT', 'Arial', sans-serif;font-weight:700;font-size:150px;">1</text>
            </g>
        </g>
    </g>
</svg>
</button>