@import '../../../styles/variables';

:host {
  align-self: flex-end;
  overflow: hidden;

  .artist {
    color: $color_secondary;
  }

  .song-name {
    font-weight: 600;
    font-size  : $font_size_22px;
  }
}