<button class="action-button" (click)="onClick()">
  <svg class="icon svg-hover-effect" [ngClass]="{'enabled': isEnabled }" viewBox="0 0 384 296"
    version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve"
    xmlns:serif="http://www.serif.com/"
    style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
    <g transform="matrix(1,0,0,1,-428,-703.002)">
      <g transform="matrix(16.0417,0,0,16.0417,1583,52.125)">
        <g transform="matrix(0.0623377,0,0,0.0678381,-75.9896,32.4334)">
          <path
            d="M403.312,284.688C397.064,278.44 386.936,278.44 380.688,284.688C374.44,290.936 374.44,301.064 380.688,307.312L393.376,320L350.72,320C336.088,320 322.448,313.44 313.288,302L276.488,256L313.288,210C322.448,198.56 336.088,192 350.72,192L393.376,192L380.688,204.688C374.44,210.936 374.44,221.064 380.688,227.312C383.816,230.44 387.904,232 392,232C396.096,232 400.184,230.44 403.312,227.312L443.312,187.312C449.56,181.064 449.56,170.936 443.312,164.688L403.312,124.688C397.064,118.44 386.936,118.44 380.688,124.688C374.44,130.936 374.44,141.064 380.688,147.312L393.376,160L350.72,160C326.312,160 303.56,170.936 288.304,190L256,230.384L223.696,190C208.44,170.936 185.688,160 161.28,160L80,160C71.168,160 64,167.168 64,176C64,184.832 71.168,192 80,192L161.28,192C175.912,192 189.552,198.56 198.712,210L235.512,256L198.712,302C189.552,313.44 175.912,320 161.28,320L80,320C71.168,320 64,327.168 64,336C64,344.832 71.168,352 80,352L161.28,352C185.688,352 208.44,341.064 223.696,322L256,281.616L288.304,322C303.56,341.064 326.312,352 350.72,352L393.376,352L380.688,364.688C374.44,370.936 374.44,381.064 380.688,387.312C383.816,390.44 387.904,392 392,392C396.096,392 400.184,390.44 403.312,387.312L443.312,347.312C449.56,341.064 449.56,330.936 443.312,324.688L403.312,284.688Z"
            style="fill-rule:nonzero;" />
        </g>
      </g>
    </g>
  </svg>
</button>