@import './styles/variables';

@font-face {
  font-family: 'Quicksand';
  src        : url('assets/fonts/Quicksand-VariableFont_wght.ttf') format('truetype');
}

html,
body {
  height: 100%;
}

body {
  margin   : 0;
  padding  : 0;

  font-family     : 'Quicksand', sans-serif;
  font-size       : $font_size_14px;
  color           : $color_primary;
  background-color: $background-color;
}

.svg-hover-effect:hover {
  fill  : $color_orange !important;
  stroke: $color_orange !important;
}

.action-button {
  cursor    : pointer;
  background: none;
  border    : none;
  outline   : none;

  svg.icon {
    fill  : $color_white;
    stroke: $color_white;
    width : $action-button-size;
    height: $action-button-size;

    &.enabled {
      fill  : $color_orange;
      stroke: $color_orange;
    }
  }
}

.truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

input, button {
  font-family     : 'Quicksand', sans-serif;
}